/*
  Why all the duplicate monospace and explicit sizes?
  See http://code.stephenmorley.org/html-and-css/fixing-browsers-broken-monospace-font-handling/
*/

.macropiche > a {
  font-family: monospace, monospace;
  font-size: .8125rem;
  line-height: 1;
  color: rgba(127, 127, 127, 0.9);
}

.macropiche > a > code {
  font-family: monospace, monospace;
  font-size: 1em;
  line-height: 1;
}

.macropiche__source-anchor {
  text-transform: lowercase;
}

.macropiche__code > code, .macropiche__code-output > code {
  font-family: monospace, monospace;
  font-size: .8125rem;
}

.macropiche__code > code, .macropiche__code-output > code {
  white-space: pre-wrap; /* Make code wrap to new lines, but only when necessary to fit */
}

.macropiche > hr {
  border: 0;
  height: 1px;
  background: rgba(127, 127, 127, 0.1);
  background-image: linear-gradient(to right, rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0));
}