.macropiche {
  padding: 0.5rem 0;
}

.macropiche > a {
  font-family: monospace;
  color: rgba(150,150,150,1);
}

.macropiche__source-anchor {
  text-transform: lowercase;
}

.macropiche pre > code {
  white-space: pre-wrap; /* Make code wrap to new lines, but only when necessary to fit */
}

.macropiche > hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(150,150,150,1), rgba(150,150,150,0.3));
}